.postCardWrp {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0.7rem 1rem 0.7rem 1.5rem;
}
.postCard {
  /* width: 100%; */
  /* max-width: 98rem; */
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}
.ImagecardWrp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
  cursor: pointer;
}
.post__img {
  min-width: 25rem;
  max-width: 25rem;
  height: 20rem;
  transform: translateX(-1.6rem);
  position: relative;
  background-color: gold;
  border-radius: 0.8rem;
  /* height 카드 이미지 높이, width 카드 이미지 넓이  */
}
/* 이미지 자식 */
.post__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: linear-gradient(
    to right,
    rgba(78, 172, 254, 8),
    rgba(0, 242, 254, 8)
  ); */
  background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%);

  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
}

.post__info {
}
.post__date {
  margin-bottom: 1rem;
}

.post__date span {
  display: bolck;
  /* color: rgba(0, 0, 0, 0.5); */
  /* font-weight: 600; */
  font-size: 1rem;
  margin: 0.5rem 0;
}

.post__title {
  font-size: 1.3rem;
  margin: 1rem 0 1rem;
  /* text-transform: uppercase; */
  color: #4facfe;
}

.post__text {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.post_cta {
  display: inline-block;
  padding: 0.6rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background-image: linear-gradient(to right, #c0b4a5 0%, #c0b4a5 100%); */
  background-color: #c0b4a5;
  border-radius: 0.8rem;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}
.post_ctas {
  display: inline-block;
  padding: 0.6rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  color: balck;
  font-weight: 600;
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background-image: linear-gradient(to right, #03a9f4 0%, #4facfe 100%);
  background-image: linear-gradient(to right, #f88e8e 0%, #ff7979 100%); */
  background-color: #f88e8e;
  border-radius: 0.8rem;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.post_cta:hover {
  /* background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
  background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%); */
  background-color: #c2c2c2;
}
.post_ctas:hover {
  /* background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
  background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%);
  background-image: linear-gradient(to right, #f88e8e 0%, #ff7979 100%); */
  background-color: #ff7979;
  color: #fff;
}

.longCardBtnWrp {
  display: flex;
}
/*////////////////////// 카트에 들어갈 카드  */
@media screen and (max-width: 2000px) {
  .postCardWrps {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  }
  .postCards {
    flex-direction: column;
    /* width: 100%; */
    /* max-width: 98rem; */
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
  }
  .post__imgs {
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    transform: translate(0, 0rem);
    height: 20rem;
    position: relative;
    background-color: gold;
    border-radius: 0.8rem;
  }
}
/*////////////////////////////////////////////////  */
/* @media screen and (max-width: 1500px) {
  .postCard {
    max-width: 80rem;
  }

  .post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
} */

@media screen and (max-width: 1500px) {
  .postCard {
    /* padding: 70rem; */
    padding: 2.5rem;
    flex-direction: column;
  }
  .post__img {
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
}
@media screen and (max-width: 1400px) {
  .postCard {
    /* padding: 70rem; */
    padding: 2.5rem;
    flex-direction: column;
  }
  .post__img {
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
}

@media screen and (max-width: 991px) {
  .postCard {
    /* padding: 70rem; */
    padding: 2.5rem;
    flex-direction: column;
  }
  .post__img {
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
}

@media screen and (max-width: 768px) {
  .postCard {
    padding: 2.5rem;
    flex-direction: column;
  }

  .post__img {
    min-width: 100%;
    max-height: 50%;
    max-width: 100%;
    transform: translate(0, -1rem);
  }
}
