.list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/*$$$ */
.card {
  display: flex;
  /* align-items: center; */
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.7em;
  padding: 0.2em 0;
  background-color: #f7f3f0;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 45rem;
  cursor: pointer;
}

.avatar {
  width: 14em;
  height: 14em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;

  /* position: absolute; */
}

/* .avatar:hover {
  content: "";
  display: block;
  width: 80%;
  height: 95%;
  position: relative;
  top: 0px;
  left: -100px;
  opacity: 0;
  background: #444;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: 1s;
} */

.info {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name,
.names,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 2px;
  border: 2px solid;
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(to right,rgb(240, 236, 0) ,rgb(207, 93, 17), rgb(212, 16, 16)); */
  border-image: linear-gradient(
      var(--angle),
      palevioletred,
      pink,
      rgb(207, 93, 17),
      rgb(212, 16, 16)
    )
    1;
  background-color: #f3d9d9;
  color: rgb(179, 28, 28);
  border-radius: 2px;

  --angle: 0deg;
  animation: 2s rotate linear infinite;
}

.name::after {
  content: "";
  display: block;
  width: 90%;
  /* height: 1px; */
  background-color: #333;
  transform: translateY(0.4em);
}

.names {
  font-size: 1.2rem;
  margin-top: -9px;
}

.company {
  margin-bottom: 1em;
}
/* .titles {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
 
} */

.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #333;
  transform: translateY(0.5em);
}

.message {
  margin-top: 3.5em;
  padding-bottom: 0.9em;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImage {
  width: 200px;
  height: 250px;
  border-radius: 40px;
  background-color: #edbaba;
  margin-right: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.antdstar {
  display: flex;
  justify-content: center;
}

.ratetext {
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
