@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #03a9f4; */
  transition: 0.5s;
  margin-top: -80px;
}
.account.active {
  /* background: #f43648; */
}
.containers {
  position: relative;
  width: 800px;
  min-height: 800px;
  /* height: 100%; */
  margin: 20px;
  /* overflow: auto; */
}
.signinBtn {
  /* background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%); */

  background-color: #e2d3be;
}
.signupBtn {
  /* background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%); */
  background-color: #e2d3be;
}
.containers .blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  /*background: #61b9ff;*/
  /* background: rgba(255, 255, 255, 0.2); */
  /* background: #c0b4a5; */
  /* background-image: linear-gradient(to right, #4facfe 0%, #e9e5e1 100%); */
  /* background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%); */
  /* background-image: linear-gradient(to right, #64543e 0%, #e9e5e1 100%); */
  background-color: #c0b4a5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.containers .box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.containers .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.containers .box button {
  cursor: pointer;
  padding: 10px 20px;
  /* background: #fff; */
  color: #333;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 10%;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}
.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  /* background: rgb(240, 234, 234); */

  /* background-image: linear-gradient(to right, #c2c2c2 0%, #e9e5e1 100%); */
  background-color: #e9e5e1;
  z-index: 11;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  /* overflow: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
}
.formBx.active {
  left: 50%;
}

.formBx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}
.formBx .signinForm {
  transition-delay: 0.25s;
  /* margin-top: 40px; */
}
.formBx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}
.formBx .signupForm {
  left: 100%;
  transition-delay: 0s;
}
.formBx.active .signupForm {
  left: 0;
  transition-delay: 0.25s;
}
.formBx form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formBx form h4 {
  font-size: 1.5em;
  color: #333;
  /* margin-bottom: 20px; */
  margin-top: -15px;
  font-weight: 500;
}
.formBx form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}
.formBx form input[type="submit"] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100%;
  cursor: pointer;
  margin-top: -15px;
}
.formBx .signupForm form input[type="submit"] {
  background: #f43648;
}
.formBx form a {
  color: #333;
}
.signupForm {
  height: 105%;
  /* transition-delay: 0.4s; */
}
/* .signupForm.action {
  transition-delay: 0.4s;
} */
.promotion_wrapper .promotion {
  height: 50%;
  transition: 1s;
  margin-top: -17px;
}
.promotion_wrapper .promotion input {
  width: 45%;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 7px;
  padding: 5px 5px;
  outline: none;
  font-size: 14px;
  border: 1px solid #333;
}
.toggle-promotion {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 150px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.promotion_signinWrp {
}
.promotion_signin input {
  padding: 6px 6px;
  margin-top: 5px;
  height: 80%;
  width: 80%;
}
.toggle-signin {
}
.text-red-500 {
  margin-top: -25px;
  margin-bottom: 10px;
  color: red;
}
.text-green-500 {
  margin-top: -25px;
  margin-bottom: 10px;
  color: darkgreen;
}

.dateSection {
  border: none;
  border-radius: 5px;
  /* background-color: #ececec; */

  /* padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; */
  /* cursor: pointer; */
  font-size: 20px;
}
/* .selectInfo {
  display: flex;
  justify-content: space-between;
} */
.ControlMenu {
  margin-left: 10px;
  /* border: none; */
  border-radius: 5px;
  /* background-color: #ececec; */

  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 991px) {
  .containers {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .containers .blueBg {
    top: 0;
    height: 100%;
    height: 500px;
  }
  .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }
  .formBx.active {
    left: 0;
    top: 150px;
    height: 750px;
  }
  .containers .blueBg {
    height: 650px;
  }
  .containers .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }
  .containers .box.signin {
    top: 0;
  }
}
