@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #03a9f4; */
  transition: 0.5s;
}
.account.active {
  /* background: #f43648; */
}
.container {
  position: relative;
  width: 800px;
  height: 700px;
  margin: 20px;
}
.container .blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  /*background: #61b9ff;*/
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}
.container .box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.container .box h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .box button {
  cursor: pointer;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: #fff; */
  background: rgb(240, 234, 234);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.formBx.active {
  left: 50%;
}

.formBx .form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}
.formBx .signinForm {
  transition-delay: 0.25s;
}
.formBx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}
.formBx .signupForm {
  left: 100%;
  transition-delay: 0s;
}
.formBx.active .signupForm {
  left: 0;
  transition-delay: 0.25s;
}
.formBx form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formBx form h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}
.formBx form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333;
}
.formBx form input[type="submit"] {
  background: #03a9f4;
  border: none;
  color: #fff;
  max-width: 100px;
  cursor: pointer;
}
.formBx .signupForm form input[type="submit"] {
  background: #f43648;
}
.formBx form a {
  color: #333;
}

@media (max-width: 991px) {
  .container {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
  }
  .container .blueBg {
    top: 0;
    height: 100%;
    height: 500px;
  }
  .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }
  .formBx.active {
    left: 0;
    top: 150px;
    height: 750px;
  }
  .container .blueBg {
    height: 650px;
  }
  .container .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }
  .container .box.signin {
    top: 0;
  }
}
