html,
body {
  padding: 0;
  margin: 0;
  background-image: url('../public/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'kdg_Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilbeotRainbow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.kdg {
  font-family: 'kdg_Medium';
}

.rainbow {
  font-family: 'GilbeotRainbow';
}

.background-image-1 {
  background-image: url('../public/2.jpg');
}

.background-image-2 {
  background-image: url('../public/1.jpg');
}

.background-image-3 {
  background-image: url('../public/3.jpg');
}